@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Tips";
}

<div class="row">

    <h2>Cooking Tips</h2>
    <h4>Start cooking like a pro in no time! </h4>
    <hr />

    <div class=" = col-md-8 rightb">
        <h3 class="purple">General</h3>
        <ul>
            <li class="plain"><span class="bold">Keep your workspace clean </span>A clean workspace is easier to maneuver, helps you stay organized and saves time cleaning up at the end.</li>
            <li class="plain">
                <span class="bold">Check your spices </span><br />Spices don't stay fresh forever, ground spices lose their freshness quicker than whole spices. If the spices don't
                smell like anything, it's time to throw them out.
            </li>
            <li class="plain"><span class="bold">Missing an ingredients? </span> Don't worry, often times there is a substitute that you can use. </li>
            <li class="plain"><span class="bold">Have fun! </span>Try something new, experiment a little, that's what makes cooking fun.</li>

        </ul>
        <h3 class="purple ">Cooking</h3>
        <ul>
            <li class="plain"><span class="bold">Use a thermometer to ensure meat is fully cooked </span><br />Minimum safe temperatures are as follows:</li>
            <ul>
                <li>Fresh beef, veal, lamb: 145<span>&#176;</span>F </li>
                <li>Poultry: 165<span>&#176;</span>F</li>
                <li>Fresh pork: 145<span>&#176;</span>F</li>
            </ul>
            <li class="plain"><span class="bold">Use a cast iron skillet </span> Cast iron skilltes are incredibly versitile and durable, they're great for sauteing, baking, frying and more. </li>

        </ul>

        <h3 class="purple">Baking</h3>
        <ul>
            <li class="plain"><span class="bold">Use a kitchen scale for percise measurements </span><br />Weighing ingredients will yield the most accurate measurements, this is important for certian foods like breads.</li>
            <li class="plain"><span class="bold">Consider investing in a stand mixer </span>If you enjoy baking, a stand mixer is a great investment, less work for you and saves time.</li>

        </ul>
    </div>
   
    <div class="col-md-4">
        <h3 class="purple">Quick links:</h3>
        <ul>
            <li><a data-toggle="tooltip" data-placement="right" title="Go to ueat.utoronto.ca" target="_blank" href="https://ueat.utoronto.ca/the-student-kitchen/kitchen-basics-techniques/glossary-common-culinary-terms/">Common culinary terms</a></li>
            <li><a data-toggle="tooltip" data-placement="right" title="Go to thecalculatorsite.com" target="_blank" href="https://www.thecalculatorsite.com/cooking/cooking-calculator.php">Calculator for conversions</a></li>
            <li><a data-toggle="tooltip" data-placement="right" title="Go to allrecipes.com" target="_blank" href="https://www.allrecipes.com/article/common-ingredient-substitutions/">Common ingredient substitions</a></li>
            <li><a data-toggle="tooltip" data-placement="right" title="Go to foodandwine.com" target="_blank"  href="https://www.foodandwine.com/lifestyle/kitchen/essential-kitchen-tools">Essential tools</a></li>

        </ul>

    </div>

</div>
